<div class="body">
  <div class="driverForm" [formGroup]="form">
    <mat-form-field  appearance="outline" >
      <mat-label>Name</mat-label>

      <input matInput
      required
      formControlName="name"
      placeholder="John Doe">


      <mat-error *ngIf="form.controls.name.errors?.required">
        Field is required
      </mat-error>

    </mat-form-field>

    <div class="roles" formArrayName="teamRole">
      <div *ngFor="let r of teamRole.controls, let i = index">
        <div class="role" [formGroupName]="i">
          <mat-form-field  appearance="outline" >
            <mat-label>Team Role</mat-label>

            <input matInput
            formControlName="role"
            placeholder="Driver">

          </mat-form-field>
        </div>
      </div>
      <button class="newRole" (click)="addTeamRole()">+</button>
    </div>

    <mat-form-field  appearance="outline" >
      <mat-label>Gamer Tag</mat-label>

      <input matInput
      required
      formControlName="gamertag"
      placeholder="PReC_">

      <mat-error *ngIf="form.controls.gamertag.errors?.required">
        Field is required
      </mat-error>

    </mat-form-field>

    <mat-form-field  appearance="outline" >
      <mat-label>Kudos Prime Link</mat-label>

      <input matInput
      formControlName="kudosPrimeLink"
      placeholder="https://www.kudosprime.com/">


      <mat-error *ngIf="form.controls.kudosPrimeLink.errors?.required">
        Field is required
      </mat-error>

    </mat-form-field>

    <input type="file" (change)="onImageUploaded($event)">

    <button class="submitBTN" mat-stroked-button type="submit" [disabled]="!form.valid" (click)="saveChanges()">Submit</button>

  </div>

</div>
