<div class="body">
  <h1>About Us</h1>
  <div class="paragraph">
    <p>
      We are a group of long time friends that dared to pioneer the organized simracing grouping in Puerto Rico. Looking to advance simracing in the island and working to ride the eSports tsunami, an amateur team was born in October of 2019. Big potential and success have made this team noticed internationally in the world of the Gran Turismo Sport FIA-Certified Online Championships and in the general community around the world.
    </p>

    <p>
      Puerto Rico eRacing Club (PReC) is the first and most successful simracing team from Puerto Rico. Established in 2019, it began the organized effort to demonstrate, develop and promote the eSport of Simracing within the Island.
    </p>

    <p>
      All the members of the team come from different backgrounds. Some are college students while others are working professionals; fields of expertise ranging from business administration, psychology, automotive technology, commercial driver to energy grids and engineering proyects designer; a diversity that strengthens our group as the same vision and goals are shared nonetheless.
    </p>

    <p>
      Puerto Rico eRacing Club differentiates itself from the rest thanks in part for our internal structure and organization. The quest for professionalism has been key for us from the very beginning.
    </p>

    <p>
      The eSports industry and Simracing are not slowing down or staying static; this fact drives us to keep moving forward.
    </p>

    <p>
      PReC is looking for options to expand within this eSports world while at the same time staying true to what brought this group together in the first place: Accessible Sim Racing, which means that the lack of big resources is not a barrier to join The Track.
    </p>
  </div>
</div>

