<div id="body">
  <div id="mainInfo">
    <h2>{{event.name}}</h2>
    <span id="dateAndTime">{{event.date | date:'MMM d yy'}}</span>
  </div>

  <div id="imageContainer">
    <img src="{{event.imageURL}}" alt="">
  </div>

  <div id="raceInfo">
    <div>
      <span class="Label">Track</span>
      <span>{{event.track}}</span>
    </div>

    <div>
      <span class="Label">Length</span>
      <span>{{event.duration}}</span>
    </div>

    <div>
      <span class="Label">Game</span>
      <span>{{event.game}}</span>
    </div>

    <div>
      <span class="Label">Time</span>
      <span>{{event.startTime}}</span>
    </div>
  </div>

  <div id="misc">
    <div>
      <span class="Label">Details</span>
      <p *ngFor="let line of description">{{line}}</p>
    </div>
    <div>
      <span class="Label">Contact Information</span>
      <span>{{event.contactInfo}}</span>
    </div>
  </div>

</div>
