$prec-yellow:#ffd000;
$prec-yellowSecondary:#ffdb0e;
$prec-blue:#252B42;

$image-dimension:28vw;


.header{
  padding-top: 3vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.body{
  // border-top: 1px solid $prec-yellow;
  min-height: 90vh;
  width: 100%;
  background-color: $prec-blue;
}


.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-gallery {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
}

.image {
  width: $image-dimension;
  height: $image-dimension;
  margin: 1rem;
  border-radius: 1rem;
  object-fit: cover;
}

hr{
  border: none;
  // margin-top: 30px;
  // margin-bottom: 30px;
  // margin: 4vh 0;
  border: 1px solid #FBCC02;
  border-radius: 20%;
  background-color: #FBCC02;
  width: 60%;
}

h1{
  font-size: 26px;
  color: white;
}

.options{
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteBTN{
  margin: .5rem;
  padding: .1rem;
  color:white;
  cursor: pointer;
  background-color: red;
  border: none;
  border-radius: 5px;
}

.add-section-button{
  width: 100vw;
  height: 10rem;
}

.add-media-button{
  width: $image-dimension;
  height: $image-dimension+12;
}

.meta-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.meta-info{
  color: white;
}

@media (max-width:700px) {
  .image {
    width: 80vw;
    height: 80vw;
  }
}


::ng-deep .mat-form-field {
  .mat-input-element {
    color: white;
  }
  .mat-form-field-label {
    color: rgb(180, 180, 180);
  }
  .mat-form-field-outline{
    color:$prec-yellow;
  }
  .mat-form-field-required-marker {
    color: $prec-yellow;
  }
}

::placeholder {
  color: rgb(180, 180, 180);
}

::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: white;
  }
  .mat-form-field-ripple {
    background-color: $prec-yellow;
  }
  .mat-form-field-required-marker {
    color: $prec-yellow;
  }
  .mat-form-field-outline{
    color:$prec-yellow;
  }
  .mat-input-element {
    color: white;
  }
}

::ng-deep .field input {
  caret-color: $prec-yellow;
}
