<div class="body">
  
    <div class="section" *ngFor="let section of gallery.sections">

      <br *ngIf="section.position > 1">

      <h1>{{section.name}}</h1>

      <app-authorize-view [role]="'admin'">

        <ng-container authorized>
          <div class="meta-container">

            <span class="meta-info">Position: {{section.position}}</span>

            <mat-form-field  class="field" appearance="outline" >
              <mat-label>Section Name</mat-label>
  
              <input matInput 
              placeholder="{{section.name}}"
              (keyup)="updateSectionName($event,section.position-1)"
              value="{{section.name}}">
            </mat-form-field>
            
            <div class="options">
              
              <button mat-button color="accent" (click)="moveSectionUp(section.position-1)">+</button>
              <button mat-button color="accent" (click)="moveSectionDown(section.position-1)">-</button>
              <button mat-button color="warn" (click)="deleteSection(section.position-1)">X</button>
              
            </div>

          </div>

        </ng-container>

      </app-authorize-view>



      <hr>



      <div class="section-gallery">

        <div class="media" *ngFor="let m of section.media">

          <a href="{{m.sourceURL}}"  *ngIf="m.type === 'image'">
            <img class="image" src="{{m.sourceURL}}" alt="{{m.caption}}">
          </a>

          <app-media-item *ngIf="m.type === 'video'"[rawURL]="m.sourceURL"></app-media-item>
          

          <!-- OPTIONS -->
          <app-authorize-view [role]="'admin'">
            <ng-container authorized>

              <div class="meta-container">

                <span class="meta-info">Position: {{m.position}}</span>
  
                <div class="options">
                  
                  <button mat-button color="accent" (click)="moveMediaUp(section.position-1, m.position-1)">+</button>
                  <button mat-button color="accent" (click)="moveMediaDown(section.position-1, m.position-1)">-</button>
                  <button mat-button color="warn" (click)="deleteMedia(section.position-1, m.position-1)">X</button>
                  
                </div>

              </div>
    
            </ng-container>
          </app-authorize-view>
         
        </div>

        <app-authorize-view [role]="'admin'">
          <ng-container authorized>

            <div class="new-media-container">
              <div class="new-media-container-inner" *ngIf="!youtubeURL">
                <input type="file" id="file" (change)="onImageUploaded($event)">
                <label for="file" class="file-btn">Upload Image</label>
                <img  *ngIf="imageSrc"
                [src]="imageSrc"
                 class="preview">
              </div>

              <span class="meta-info">or</span>

              <mat-form-field *ngIf="!imageSrc"  class="field" appearance="outline" >
                <mat-label>Youtube Embeded URL</mat-label>
                <input matInput 
                placeholder="https://www.youtube.com/embed/..."
                (keyup)="updateYoutubeUrl($event)">
              </mat-form-field>

              <button class="submitBTN" mat-stroked-button type="submit" [disabled]="!imageSrc && !youtubeURL" (click)="saveChanges()">Submit</button>
            </div>
    
          </ng-container>
        </app-authorize-view>

      </div>
      
    </div>

    <app-authorize-view [role]="'admin'">
      <ng-container authorized>
        <button class="add-section-button" mat-button color="accent" (click)="addSection()">Add Section +</button>
      </ng-container>
    </app-authorize-view>

</div>