input {
  -webkit-user-select: all !important;
}

.form{
  height: 100%;
  /* background-color: aliceblue; */
}
form{
  max-width: 500px;
}

mat-form-field{
  width: 100%;
}

button{
  margin-right: 1rem;
}

mat-checkbox{
  margin-bottom: 1rem;
}

/* ::ng-deep .mat-form-field {



} */

