
$prec-yellow:#ffd000;
$prec-yellowSecondary:#ffdb0e;
$prec-blue:#252B42;

.calculator-form{
  background-color: #252B42;
  padding: 3vh 0;
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

::ng-deep .mat-form-field {
  min-width: 80px;
  .mat-input-element {
    color: white;
  }
  .mat-form-field-label {
    color: rgb(180, 180, 180);
  }
  .mat-form-field-outline{
    color:$prec-yellow;
  }
  .mat-form-field-required-marker {
    color: $prec-yellow;
  }
}
span{
  color:rgb(255, 255, 255);
}
::placeholder {
  color: rgb(90, 90, 90);
}

//Focus
::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: white;
  }
  .mat-form-field-ripple {
    background-color: $prec-yellow;
  }
  .mat-form-field-required-marker {
    color: $prec-yellow;
  }
  .mat-form-field-outline{
    color:$prec-yellow;
  }
  .mat-input-element {
    color: white;
  }
}

// //Error
::ng-deep .mat-form-field.mat-form-field-invalid {
  .mat-input-element {
    color: white;
  }
  .mat-form-field-label {
    color: rgb(255, 78, 78);
  }
  .mat-form-field-outline{
    color:grey;
  }
}

::ng-deep .mat-stroked-button{
  background-color:$prec-yellow;
  color: white;
}

.delTire{
  background-color: white;
  font-size: xx-large;
}

.miscData{
  width: 100%;
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
}

.addTireButton{
  border: 1px solid $prec-yellow;
  font-weight:normal;
  height: fit-content;
  margin:1.5vh;
}

.pitLossField{
  width: 10rem;
  margin: 0 5vw;
}

.raceLengthField{
  width: 10rem;
  margin: 0 5vw;
}

.tires{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  flex-wrap: wrap;
}
.tire{
  margin: 0 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newLapBTN{
  background-color: $prec-yellow;
  color: white;
  border-radius: 1vh;
  width: 40%;
}

.calculateBTNContainer{
  display: flex;
  justify-content: center;
}


@keyframes glowing {
  0% {
    background-color: $prec-yellow;
    box-shadow: 0 0 5px $prec-yellow;
  }
  50% {
    background-color: $prec-yellowSecondary;
    box-shadow: 0 0 20px $prec-yellowSecondary;
  }
  100% {
    background-color: $prec-yellow;
    box-shadow: 0 0 5px $prec-yellow;
  }
}

.calculateBTN:enabled{
  background-color: $prec-yellow;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 1vh;
  height: 6vh;
  width: 18vw;
  animation: glowing 1300ms infinite;
}

.calculateBTN:disabled{
  background-color: rgb(219, 219, 219);
  color: white;
  cursor:default;
  border: none;
  border-radius: 1vh;
  height: 6vh;
  width: 18vw;
  animation: none;
}

//Results
.results{
  padding-top:5vh;

  display: flex;
  justify-content: center;
}

table {
  background-color: $prec-blue;
  border-collapse: collapse;
  width: 30vw;
}
td{
  color: white;
  text-align: center;
}

th{
  color: white;
  border-bottom: 2px solid $prec-yellow;
  text-align: center;
}

.data{
  border-right: 2px solid $prec-yellow;
}

.totalTime{
  background-color: $prec-yellow;
}

h1{
  font-size: 26px;
  color: white;
  margin-bottom: 5vh;
}
