<div id="card" (click)="redirect()">

  <div id="imageContainer">
    <img src="{{event.imageURL}}" alt="">
  </div>

  <div id="infoContainer">
    <div id="mainInfo">
      <h2>{{event.name}}</h2>
      <span id="dateAndTime">{{event.date | date:'MMMM d'}} at {{event.startTime}}</span>
    </div>

    <div id="raceInfo">
      <!-- <hr> -->

      <div>
        <span>{{event.platform}}</span>
      </div>

      <hr>

      <div>
        <span>{{event.game}}</span>
      </div>

      <hr>

      <div class="registration">
        <span>Registration</span>
        <div class="openContainer">
          <span class="open"> Open</span>
          <div class="openCircle"></div>
        </div>
      </div>

      <!-- <div>
        <span class="Label">Track</span>
        <span>{{event.track}}</span>
      </div>

      <div>
        <span class="Label">Length</span>
        <span>{{event.duration}}</span>
      </div>

      <div>
        <span class="Label">Game</span>
        <span>{{event.game}}</span>
      </div> -->

    </div>

    <button mat-raised-button color="primary" (click)="redirect()"><mat-icon class="icon-display">info</mat-icon> Information</button>

  </div>

</div>
