<form (submit)="saveChanges()" [formGroup]="dataForm" class="telemetryDataForm">
  <mat-form-field appearance="standard" class="tireName">
    <mat-label>Tire</mat-label>
    <input formControlName="tire" matInput>
    <mat-error>The title field is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard" class="tireLaps">
    <mat-label>Laps</mat-label>
    <input formControlName="laps" matInput>
    <mat-error>The title field is required</mat-error>
  </mat-form-field>

  <button mat-flat-button color="primary" [disabled]="dataForm.invalid">Set</button>
</form>

<div *ngIf="laps">
  <!-- <div *ngFor="let lap of lapsArr; index as i">

    <app-LapInputs [lap]="i+1"></app-LapInputs>
  </div> -->
  <!-- <div formArrayName="laps">
    <div *ngFor="let item of lapsAr.controls; let lapIndex=index" [formGroupName]="lapIndex">
      <label>
        1 <input formControlName="lap" />
      </label>
    </div>
  </div> -->

</div>

{{this.dataForm.value | json}}
