$prec-yellow:#ffd000;
$prec-yellowSecondary:#ffdb0e;
$prec-blue:#252B42;

.cards{
  border-top: 1px solid $prec-yellow;
  display: flex;
  justify-content: center;
  flex-flow:wrap;
  width: 100%;
  background-color: $prec-blue;
  padding: 2vh 0;
}

.card{
  margin: 5vh 0;
  width: 33%;
}
