$prec-yellow:#ffd000;
$prec-yellowSecondary:#ffdb0e;
$prec-blue:#252B42;

.body{
  // border-top: 1px solid $prec-yellow;
  min-height: 90vh;
  width: 100%;
  background-color: $prec-blue;
  display: flex;
  padding: 3vh 0;
  flex-direction: column;
  align-items: center;
}
.cards{
  display: flex;
  justify-content: center;
  flex-flow:wrap;
  width: 100%;
  padding: 2vh 0;
}
@media (max-width:750px) {
  .cards{
    flex-direction: column;
    align-items: center;
  }
}

.card{
  margin: 5vh 0;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addDriver{
  padding-top: 1vh;
  display: flex;
  justify-content: center;
}

button{
  margin: 0;
}

.deleteBTN{
  margin: .5rem;
  padding: .1rem;
  color:white;
  cursor: pointer;
  background-color: red;
  border: none;
  border-radius: 5px;
}

.editBTN{
  margin: .5rem;
  padding: .1rem;
  color:white;
  cursor: pointer;
  background-color: grey;
  border: none;
  border-radius: 5px;
}

.options{
  display: flex;
  justify-content: space-evenly;
}

h1{
  font-size: 26px;
  color: white;
}
