<!-- <mat-toolbar color="primary">

  <div class="logo"></div>
  <span>
    <a routerLink="" mat-button><mat-icon>theaters</mat-icon>Movies</a>
  </span>

  <div>
      <a mat-button routerLink="movie/filter">Search movies <mat-icon>search</mat-icon></a>
  </div>
</mat-toolbar> -->

<div class="container">
  <div class="logo-container">
    <a routerLink=""><img src="logo.png" width="275px" height="auto" alt=""></a>
  </div>

  <div class="routes">
    <div class="pages">
      <a routerLink="home" routerLinkActive="active">Home</a>
      <a routerLink="drivers" routerLinkActive="active">Drivers</a>
      <a routerLink="events" routerLinkActive="active">Events</a>
      <a routerLink="calculator" routerLinkActive="active">Calculator</a>
    </div>

    <div class="authentication">
      <a class="signup" routerLink="signup">Sign Up</a>
      <a class="login" routerLink="login">Log In</a>
    </div>

  </div>


</div>




<!-- <app-authorize-view [role]="'admin'">
    <ng-container authorized>
      <div>
        <a mat-button routerLink="genres">Genres</a>
      </div>

      <div>
        <a mat-button routerLink="actors">Actors</a>
      </div>

      <div>
        <a mat-button routerLink="movietheaters">Movie Theaters</a>
      </div>

      <div>
        <a mat-button routerLink="movie/create">Create Movie</a>
      </div>

      <div>
        <a mat-button routerLink="users">Users</a>
      </div>
    </ng-container>
  </app-authorize-view>

  <div class="space"></div>

  <app-authorize-view >
    <ng-container authorized>
      <span>Hello, {{security.getFieldFromJWT('email')}}</span>
      <a mat-button (click)="security.logout()">Logout</a>
    </ng-container>
    <ng-container notAuthorized>
      <a mat-button routerLink="login">Log in</a>
      <a mat-button routerLink="register">Register</a>
    </ng-container>
  </app-authorize-view> -->
