{{pits | json}}
<br>
{{totalTime}}
<br>

<div class="add-lessons-form" [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>Race Length</mat-label>
    <input matInput
    formControlName="raceLength"
    placeholder="10">
  </mat-form-field>
  <mat-label>laps</mat-label>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Time Lost in Pits</mat-label>
    <input matInput
    formControlName="pitLoss"
    placeholder="30.1">
  </mat-form-field>
  <mat-label>seconds</mat-label>

  <br><button (click)="addTire()">Add Tire</button>

  <ng-container formArrayName="tires">
    <ng-container *ngFor="let tire of tires.controls, let t = index"><br>
      <ng-container formGroupName="{{t}}">
        <mat-form-field appearance="fill">
          <mat-label>Tire {{t+1}}</mat-label>
          <input matInput
          formControlName="compound"
          placeholder="Soft">
        </mat-form-field>
        <button (click)="removeTire(t)">Remove Tire</button>
        <button (click)="addLap(t)">New Lap Entry</button>

        <ng-container formArrayName="times">
          <ng-container *ngFor="let time of getTimesFormsArray(t).controls, let l = index"><br>
              <ng-container [formGroupName]=l>
                <mat-form-field appearance="fill">
                  <mat-label>Lap {{l+1}}</mat-label>
                  <input matInput
                  formControlName="lap"
                  placeholder="0:00.00"
                  required
                  pattern="^([0-9]+:)?[0-5][0-9]+(\.[1-9]+)?$"
                  >
                </mat-form-field>
                <button (click)="removeLap(t,l)">X</button>
              </ng-container>
          </ng-container>
        </ng-container>

      </ng-container>
    </ng-container>
  </ng-container>
  <br><br>
  <button type="submit" (click)="saveChanges()">Submit</button>
</div>
