input {
  -webkit-user-select: all !important;
}

.numTiresForm{
  display: flex;
  flex-direction: row;
}
form{
  padding:10px 10px;
  display: flex;
  flex-direction: column;
}

.numTires{
  width: 9em;
}
.tireName{
  width: 9em;
}
.tireLaps{
  padding-left: 5px;
  width: 4em;
}


/* ::ng-deep .mat-form-field {



} */

