.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.sm-images{
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

.sm-item{
  width:32px;
  height: 32px;
}

#discord{
  background:url(./logos/discord.png) no-repeat 0 0;
  background-size:32px 32px;
}

#facebook{
  background:url(./logos/facebook.png) no-repeat 0 0;
  background-size:32px 32px;
}

#instagram{
  background:url(./logos/instagram.png) no-repeat 0 0;
  background-size:32px 32px;
}


h1{
  color: white;
  font-family: "Montserrat-SemiBold";
  padding-bottom: 3vh;
}
