@use 'sass:math';
$prec-yellow:#ffd000;
$prec-yellowSecondary:#ffdb0e;
$prec-blue:#252B42;
$table-width:100%;

table{
  min-width: $table-width;
  .mat-column-firstName{
    text-align: center;
    width: math.div($table-width, 4);
  }
  .mat-column-lastName{
    text-align: center;
    width: math.div($table-width, 4);
  }
  .mat-column-email{
    text-align: center;
    width: math.div($table-width, 4);
  }
  .mat-column-role{
    text-align: center;
    width: math.div($table-width, 4);
  }
}
.body{
  background-color: $prec-blue;
  padding: 3vh 3vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width:600px) {
  table{
    width: 95vw;
    .mat-column-firstName{
      font-size: 9px;
    }
    .mat-column-lastName{
      font-size: 9px;
    }
    .mat-column-email{
      font-size: 9px;
    }
    .mat-column-role{
      font-size: 9px;
    }
  }
  button{
    font-size: 8px;
    width: 6vw;
  }
}
.role{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 0;
  div{
    button{
      margin: 0 1vw;
    }
  }
}
