<div class="box">
  <a routerLink="../about-us" routerLinkActive="active"><h2>About Us</h2></a>
  <div class="paragraph">
    <h3>
      We are a group of long time friends that dared to pioneer the organized simracing grouping in Puerto Rico. Looking to advance simracing in the island and working to ride the eSports tsunami, an amateur team was born in October of 2019. Big potential and success have made this team noticed internationally in the world of the Gran Turismo Sport FIA-Certified Online Championships and in the general community around the world.
    </h3>
  </div>
</div>
