.box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paragraph{
  width:90%;
}

h1{
  flex-grow: 1;
  color: white;
  font-family: "Montserrat-SemiBold";
}

h3{
  flex-grow: 1;
  color: white;
}
