<div class="box">
  <h2>Upcoming Events</h2>
  <div class="paragraph">
    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur dolores voluptatibus laborum sunt, quos iste amet maiores nemo at, molestias dolorem autem quidem fugiat? Numquam excepturi provident quos hic nesciunt. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt dolore aliquid mollitia, quibusdam non laborum esse, hic inventore necessitatibus magnam autem? Delectus illum eius iure incidunt nihil laboriosam cumque. Illo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio voluptates dignissimos, odit unde commodi modi libero incidunt earum dolor tempora animi qui aspernatur maxime quis illum aliquam vel id et.</h3>
  </div>
</div>
