<!-- <mat-toolbar color="primary">

  <div class="logo"></div>
  <span>
    <a routerLink="" mat-button><mat-icon>theaters</mat-icon>Movies</a>
  </span>

  <div>
      <a mat-button routerLink="movie/filter">Search movies <mat-icon>search</mat-icon></a>
  </div>
</mat-toolbar> -->

<div class="container">
  <div class="logo-container">
    <img [src]="imgURL" (click)="home()" >
  </div>

  <div class="routes" *ngIf="!cutOff">

    <div class="pages">
      <a mat-button routerLink="home" routerLinkActive="active">Home</a>
      <a mat-button routerLink="drivers" routerLinkActive="active">Drivers</a>
      <a mat-button routerLink="events" routerLinkActive="active">Events</a>
      <a mat-button routerLink="gallery" routerLinkActive="active">Gallery</a>
      <a mat-button routerLink="calculator" routerLinkActive="active">Calculator</a>
      <app-authorize-view [role]="'admin'">
        <ng-container authorized>
          <a mat-button routerLink="users" routerLinkActive="active">Users</a>
        </ng-container>
      </app-authorize-view>
      <a mat-button routerLink="about-us" routerLinkActive="active">About Us</a>
    </div>

    <app-authorize-view>
      <ng-container authorized>
        <div class="options">
          <button mat-icon-button color="accent" (click)="logout()" ><mat-icon>logout</mat-icon></button>
          <a mat-icon-button routerLink="../settings" routerLinkActive="active"><mat-icon>settings</mat-icon></a>
        </div>
      </ng-container>
      <ng-container notAuthorized>

        <div class="authentication">
          <a class="login" routerLink="login">Log In</a>
          <a class="signup" routerLink="signup">Sign Up</a>
        </div>

      </ng-container>
    </app-authorize-view>

  </div>

  <div class="menu" *ngIf="cutOff">
    <button mat-icon-button [matMenuTriggerFor]="beforeMenu"  id="menuBTN"><mat-icon color="accent">menu</mat-icon></button>
    <mat-menu class="customize" #beforeMenu="matMenu" xPosition="before">
      <a mat-menu-item routerLink="home" routerLinkActive="active" class="menuLinks">Home</a>
      <a mat-menu-item routerLink="drivers" routerLinkActive="active" class="menuLinks">Drivers</a>
      <a mat-menu-item routerLink="events" routerLinkActive="active" class="menuLinks">Events</a>
      <a mat-menu-item routerLink="gallery" routerLinkActive="active" class="menuLinks">Gallery</a>
      <a mat-menu-item routerLink="calculator" routerLinkActive="active" class="menuLinks">Calculator</a>
      <app-authorize-view [role]="'admin'">
        <ng-container authorized>
          <a mat-menu-item routerLink="users" routerLinkActive="active" class="menuLinks">Users</a>
        </ng-container>
      </app-authorize-view>
      <a mat-menu-item routerLink="about-us" routerLinkActive="active" class="menuLinks">About Us</a>
      <app-authorize-view>
        <ng-container authorized>
          <div class="options">
            <button mat-icon-button color="accent" (click)="logout()" ><mat-icon>logout</mat-icon></button>
            <a mat-icon-button routerLink="../settings" routerLinkActive="active"><mat-icon color="accent">settings</mat-icon></a>
          </div>
        </ng-container>
        <ng-container notAuthorized>

          <div class="authentication">
            <a class="login" routerLink="login">Log In</a>
            <a class="signup" routerLink="signup">Sign Up</a>
          </div>

        </ng-container>
      </app-authorize-view>
    </mat-menu>
  </div>
</div>
