.container {
  height: 100px;
  background-color: #252B42;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;

  border-bottom:1px solid hsl(49, 98%, 50%) ;

}

.logo-container{
  margin-left: 10px;
  width: 20vw;
  height: auto;
}

.logo{
  width: 100%;
  height: auto;
  background: url("logo.png");
}

.routes{
  width: 70vw;
  display: flex;
  justify-content:end;
  align-items: center;
  margin-right: 1vw;
}

.pages{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-right: 3vh;
}
.pages a{
  padding: 0 1vw;
}
.authorized{
  background-color: #FBCC02;
  border-radius: 3px;
}

.authentication{
  /* width: 40%; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.signup{
  border-radius: 10px;
  background-color: #FBCC02;
  margin-left: 1.5vh;
  padding: 1.5vh 1.5vh;
}

.login{
  border-radius: 10px;
  border-style: solid;
  border-width: .5px;
  border-color: #FBCC02;
  padding: 1.5vh 1.5vh;
}

.logout{
  /* padding: 0 2vw 0 1vw; */
  margin: 0 1vw 0 1vw;
}

a{
  /* color: #FBCC02; */
  color: white;
  text-decoration: none;
  font-family: "Montserrat-Medium";
  font-size: 16px;
}

.active{
  font-weight: bolder;
  color: #FBCC02;
  /* border-bottom:1px solid hsl(49, 98%, 50%) ; */
}

